<section class="about-me_bg">
	<a name="about-me"></a>
	<div class="about-me">
		<h3 class="about-me__title">Трішки про мене</h3>
		<p class="about-me__paragraph">Мене звати Олег, я сертифікований масажист! За 5 років роботи, я
			встиг отримати міжнародний сертифікат масажиста та попрацювати у приватній клініці,
			а також професійній масажній студії. Тепер я працюю сам на себе і виїжджаю до клієнтів додому.</p>
		<div class="box">
			<img class="about-me__ellips-first" src="./img/about me/Ellipse 7.png" alt="">
			<img class="about-me__ellips-second" src="./img/about me/Ellipse 8.png" alt="">
			<img class="about-me__photo-first" src="./img/about me/IMG_20220612_231611_935.HEIC" alt="">
			<img class="about-me__photo-second" src="./img/about me/IMG_20220801_233307_764.HEIC" alt="">

		</div>
	</div>
</section>