<section class="d-flex">
	<a name="contact"></a>
	<div class=" footer">
		<ul class="footer__social">
			<li class="footer__social-item"><a class="footer__social-link" target="_blank"
					href="https://www.facebook.com/massage.kyiv.oleg"><img class="footer__social-icons"
						src="./img/icons_social/facebook.svg" alt="facebook"></a></li>
			<li class="footer__social-item"><a class="footer__social-link" target="_blank"
					href="https://www.instagram.com/massage_kyiv_oleg/"><img class="footer__social-icons"
						src="./img/icons_social/instagram.svg" alt="instagram"></a></li>
			<li class="footer__social-item"><a class="footer__social-link" href="tel: +380634391893"><img
						class="footer__social-icons" src="./img/icons_social/phone-solid.svg" alt="phone"></a></li>
			<li class="footer__social-item"><a class="footer__social-link" target="_blank"
					href="https://t.me/massage_kyiv_oleg"><img class="footer__social-icons"
						src="./img/icons_social/telegram.svg" alt="telegram"></a></li>
			<li class="footer__social-item"><a class="footer__social-link" target="_blank"
					href="viber://chat?number=+380634391893"><img class="footer__social-icons"
						src="./img/icons_social/viber.svg" alt="viber"></a></li>
		</ul>
		<div class="footer__slogan">
			<p class="footer__slogan-text">Буду радий Вам допомогти!</p>
		</div>
	</div>
</section>