<section class="d-flex">
	<div class="container">
		<nav class="section__nav">
			<ul class="nav__list">
				<li class="nav__list-title"><a class="nav__list-link" href="#review">Відгуки</a> </li>
				<li class="nav__list-title"><a class="nav__list-link" href="#about-me">Про мене</a></li>
				<li class="nav__list-title"><a class="nav__list-link" href="#price">Ціни</a></li>
				<li class="nav__list-title"><a class="nav__list-link" href="#contact">Контакти</a></li>
			</ul>
		</nav>
		<section class="header__title">
			<div class="header__title-text">

				<h1 class="header__title-first">Мене звати Олег</h1>
				<h2 class="header__title-second">Роблю професійний масаж у Вас вдома!</h2>

				<p class="header__title-number">+38 (063)-439-18-93</p>
			</div>
			<div class="header__title-photo">
				<img class="title__photo-size" src="./img/Logo.png" alt="Logo">
			</div>
		</section>
	</div>
</section>