<section class="price-bg">
	<a name="price"></a>
	<div class="container">
		<h3 class="price__tittle">Прайс лист</h3>
		<div class="price__tittle-center">
			<div class="price__main-firs">
				<div class="main__img">
					<img class="main__img-first" src="/img/price/towel.png" alt="massager">
				</div>
				<div class="block__text-first">
					<div class="price__block">
						<div class="price__block-title">
							<p class="price__block-text">Спина + вібромасаж</p>
							<p class="price__block-text">45хв - 550 грн</p>
						</div>
						<p class="price__block-explanation">Поперек, грудний та шийно-комірцевий відділ.</p>
					</div>
					<div class="price__block">
						<div class="price__block-title">
							<p class="price__block-text">Масаж всього тіла</p>
							<p class="price__block-text">60/90 хв - 700/900 грн</p>
						</div>
						<p class="price__block-explanation">Спина, шия, руки, ноги, живіт.</p>
					</div>

					<div class="price__block">
						<div class="price__block-title">
							<p class="price__block-text">Антицелюлітний</p>
							<p class="price__block-text">60 хв - 700 грн</p>
						</div>
						<p class="price__block-explanation">Ноги, сідниці, боки, живіт, руки
							(Ручна техніка та вакуумні банки).</p>
					</div>

					<div class="price__block">
						<div class="price__block-title">
							<p class="price__block-text">Релакс</p>
							<p class="price__block-text">60/90 хв - 700/900 грн</p>

						</div>
						<p class="price__block-explanation">Спина, шия, руки, ноги, живіт (Поверхневе пропрацювання м'язів
							та
							поглажування в повільному темпі).</p>
					</div>
					<div class="price__block">
						<div class="price__block-title">
							<p class="price__block-text">Лімфодренажний</p>
							<p class="price__block-text">60 хв - 700 грн</p>

						</div>
						<p class="price__block-explanation">По лімфотокам всього тіла.</p>
					</div>
				</div>
			</div>
			<div class="price__main-second">
				<div class="block__text-second">
					<div class="price__block">
						<div class="price__block-title">
							<p class="price__block-text">Моделюючий</p>
							<p class="price__block-text">60 хв - 700 грн</p>

						</div>
						<p class="price__block-explanation">Ноги, сідниці, боки, живіт, руки.</p>
					</div>
					<div class="price__block">
						<div class="price__block-title">
							<p class="price__block-text">Спортивний</p>
							<p class="price__block-text">60 хв - 700 грн</p>

						</div>
						<p class="price__block-explanation">Спина, шия, руки, ноги (Глибоке пропрацювання м'язів).</p>
					</div>
					<div class="price__block">
						<div class="price__block-title">
							<p class="price__block-text">Медовий</p>
							<p class="price__block-text">60 хв - 700 грн</p>

						</div>
						<p class="price__block-explanation">Спина, ноги, живіт.</p>
					</div>
					<div class="price__block">
						<div class="price__block-title">
							<p class="price__block-text">Баночний</p>
							<p class="price__block-text">60 хв - 700 грн</p>

						</div>
						<p class="price__block-explanation">Вакуумна дія на проблемні зони.</p>
					</div>

				</div>
				<div class="main__img">
					<img class="main__img-second" src="/img/price/massager.png" alt="massager">
				</div>
			</div>
		</div>

		<div class="price__subscription">
			<h4 class="price__main-tittle">Абонемент вигідніше!</h4>
			<div class="price__block">
				<div class="price__block-title">
					<p class="price__block-text">Курс масажу СПИНА + ВІБРОМАСАЖ </p>
					<p class="price__block-text">60 хв</p>

				</div>
				<p class="price__subscription-old">5500 <span class="price__main-new">4900 грн</span></p>
			</div>
			<div class="price__block">
				<div class="price__block-title">
					<p class="price__block-text">Курс масажу ВСЬОГО ТІЛА </p>
					<p class="price__block-text">60 хв</p>

				</div>
				<p class="price__subscription-old">7000 <span class="price__main-new">5600 грн</span></p>
			</div>
			<div class="price__block">
				<div class="price__block-title">
					<p class="price__block-text">Курс АНТИЦЕЛЮЛІТНОГО масажу</p>
					<p class="price__block-text">60 хв</p>

				</div>
				<p class="price__subscription-old">7000 <span class="price__main-new">5600 грн</span></p>
			</div>
			<div class="price__block">
				<div class="price__block-title">
					<p class="price__block-text">Курс РЕЛАКС масажу</p>
					<p class="price__block-text">60 хв</p>

				</div>
				<p class="price__subscription-old">7000 <span class="price__main-new">5600 грн</span></p>
			</div>
			<div class="price__block">
				<div class="price__block-title">
					<p class="price__block-text">Курс Спортивного масажу</p>
					<p class="price__block-text">60 хв</p>

				</div>
				<p class="price__subscription-old">7000 <span class="price__main-new">5600 грн</span></p>
			</div>

			<div class="price__subscription-note">
				<p class="note-text">Ціни вказані за 10 сеансів</p>
			</div>
		</div>
	</div>
	</div>


</section>