<section class="section__swiper ">
	<a name="review"></a>
	<div class="container">
		<div class="swiper mySwiper ">
			<div class="swiper-wrapper">
				<div class="swiper-slide review">
					<p class="review__text">“ Спасибо за массаж) Буду приходить ещё“</p>
					<div class="review__body">

						<p class="review__body-photo"> И</p>

						<div class="review__title">
							<div class="review__title-grade">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
							</div>
							<h4 class="review__body-title">Ирина Ткач</h4>
							<p class="review__body-text">31 січня 2022</p>

						</div>
						<img class="review__body-quotes" src="./img/feedback/quotes.png" alt="">
						<img class="review__body-quotes" src="./img/feedback/quotes.png" alt="">
					</div>
				</div>
				<div class="swiper-slide review">
					<p class="review__text">“ Один з найкращих масажистів, в яких доводилось бувати! Дуже професійно робить
						масаж, викладається на всі 100%. Після масажу дискомфорт в спині пройшовб односзначно звертатимусь
						ще!“
					</p>
					<div class="review__body">
						<img class="review__body-photo" src="./img/feedback/IMAGE.png" alt="">
						<div class="review__title">
							<div class="review__title-grade">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
							</div>
							<h4 class="review__body-title">Альона</h4>
							<p class="review__body-text">9 грудня 2021</p>

						</div>
						<img class="review__body-quotes" src="./img/feedback/quotes.png" alt="">
						<img class="review__body-quotes" src="./img/feedback/quotes.png" alt="">
					</div>
				</div>
				<div class="swiper-slide review">
					<p class="review__text">“ Очень понравился массаж, мастер Олег профессионально, качественно, проработал
						необходимые зоны, дал рекомендации, предупредил о возможных последствиях. Рукомендую!!!“
					</p>
					<div class="review__body">
						<img class="review__body-photo" src="./img/feedback/IMAGE.png" alt="">
						<div class="review__title">
							<div class="review__title-grade">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
							</div>
							<h4 class="review__body-title">Виктория Даценко</h4>
							<p class="review__body-text">23 лютня 2022</p>

						</div>
						<img class="review__body-quotes" src="./img/feedback/quotes.png" alt="">
						<img class="review__body-quotes" src="./img/feedback/quotes.png" alt="">
					</div>
				</div>
				<div class="swiper-slide review">
					<p class="review__text">“Была на массаже у Олега. 60 минут абсолютной отдачи Руки мастера - сильные, но
						акуратные(!) Массаж качественный, эфективный и приятный. Вернусь к этому мастеру; эфект после первого
						массажа убудительний &#128077.“
					</p>
					<div class="review__body">
						<img class="review__body-photo" src="./img/feedback/IMAGE.png" alt="">
						<div class="review__title">
							<div class="review__title-grade">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
							</div>
							<h4 class="review__body-title">Sascha K</h4>
							<p class="review__body-text">7 червня 2022</p>

						</div>
						<img class="review__body-quotes" src="./img/feedback/quotes.png" alt="">
						<img class="review__body-quotes" src="./img/feedback/quotes.png" alt="">
					</div>
				</div>
				<div class="swiper-slide review">
					<p class="review__text">“ Дякуємо Олегу за професійний масаж. Все сподобалося. Тактовний і уважний“
					</p>
					<div class="review__body">
						<img class="review__body-photo" src="./img/feedback/IMAGE.png" alt="">
						<div class="review__title">
							<div class="review__title-grade">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
							</div>
							<h4 class="review__body-title">Оксана</h4>
							<p class="review__body-text">3 січня 2022</p>

						</div>
						<img class="review__body-quotes" src="./img/feedback/quotes.png" alt="">
						<img class="review__body-quotes" src="./img/feedback/quotes.png" alt="">
					</div>
				</div>
				<div class="swiper-slide review">
					<p class="review__text">“ Супер мастер! Всем рекомендую. “
					</p>
					<div class="review__body">
						<img class="review__body-photo" src="./img/feedback/IMAGE.png" alt="">
						<div class="review__title">
							<div class="review__title-grade">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
								<img class="review__title-stars" src="./img/feedback/Vector.svg" alt="">
							</div>
							<h4 class="review__body-title">Ирина Романий</h4>
							<p class="review__body-text">17 січня 2022</p>

						</div>
						<img class="review__body-quotes" src="./img/feedback/quotes.png" alt="">
						<img class="review__body-quotes" src="./img/feedback/quotes.png" alt="">
					</div>
				</div>

			</div>
			<div class="swiper-button-next swiper-button-color"></div>
			<div class="swiper-button-prev swiper-button-color"></div>
		</div>
	</div>
</section>